<%-include("../partials/header") %>
<div class="container">
	 <h1  class="text-center">Add product</h1>
    <div class="row">
       
        <div style="width: 30%; margin: 25px auto;">
            <form action="/product" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="name" name="product[name]">
                </div>
				<div class="form-group">
                    <input class="form-control" type="text"  placeholder="image"name="product[image]">
                </div>
				<div class="form-group">
                    <input class="form-control" type="text" placeholder="price" name="product[price]">
                </div>
				<div class="form-group">
                    <input class="form-control" type="text" placeholder="bestseller" name="product[bestseller]">
                </div>
				<div class="form-group">
					<textarea class="form-control" name="product[description]" placeholder="description"></textarea>
                </div>
				
                
               
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/product">Go Back</a>
        </div>
    </div>
</div>
<%- include ("../partials/footer") %>